[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-gz-src;
Actions=upload;_SEPARATOR_;configure;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=AUR

[Desktop Action upload]
Name=Upload source package
Icon=go-up
Exec=pkg-magic "-a" "%u"
TryExec=curl

[Desktop Action configure]
Name=Configure login
Icon=configure
Exec=pkg-magic "-c"
TryExec=curl
