[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-gz-src;
Actions=upload;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Pkg-tools

[Desktop Action upload]
Name=Upload source package to AUR
Icon=go-up
#TryExec=curl
Exec=pkg-magic "-u" "%u"
