[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-pkgbuild;
Actions=mk_md5;_SEPARATOR_;mk;mk_nodeps;mk_sign;mk_src;_SEPARATOR_;mk_install;_SEPARATOR_;mk_repack;mk_nobuild;_SEPARATOR_;mk_clean;_SEPARATOR_;mk_selected;mk_selected_sign;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Pkg-tools

# Usage: pkg-magic $uri $action $args $opts

[Desktop Action mk_md5]
Name=Add checksum
Icon=run-build-configure
Exec=pkg-magic "%u" "-m" "-g >> $(basename "%f")"

[Desktop Action mk]
Name=Make Package
Icon=run-build
Exec=pkg-magic "%u" "-m" "-sr"

[Desktop Action mk_nodeps]
Name=Make package (ignore deps)
Icon=debug-run
Exec=pkg-magic "%u" "-m" "-d"

[Desktop Action mk_src]
Name=Make source package
Icon=run-build-file
Exec=pkg-magic "%u" "-m" "-S"

[Desktop Action mk_sign]
Name=Make signed package
Icon=view-certificate-sign
Exec=pkg-magic "%u" "-m" "-sr --sign"

[Desktop Action mk_install]
Name=Make & install package
Icon=run-build-install
Exec=pkg-magic "%u" "-m" "-sri"

[Desktop Action mk_clean]
Name=Clean workdir
Icon=run-build-clean
Exec=pkg-magic "%u" "-m" "-c"

[Desktop Action mk_repack]
Name=Repackage without building
Icon=debug-run-cursor
Exec=pkg-magic "%u" "-m" "-Rf"

[Desktop Action mk_nobuild]
Name=Get and extract
Icon=run-build-install-root
Exec=pkg-magic "%u" "-m" "-o"

[Desktop Action mk_selected]
Name=Make selected package(s) (split package)
Icon=run-build
Exec=pkg-magic "%u" "-m" "-sr" "--pkg"

[Desktop Action mk_selected_sign]
Name=Make signed selected package(s) (split package)
Icon=view-certificate-sign
Exec=pkg-magic "%u" "-m" "-sr --sign" "--pkg"
