[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-xz-pkg;application/x-pkgbuild;
Actions=check;check_info;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Namcap

[Desktop Action check]
Name=Check
Icon=kbugbuster
Exec=pkg-magic "-n" "%u"
TryExec=namcap

[Desktop Action check_info]
Name=Check (with info msgs)
Icon=help-hint
Exec=pkg-magic "-n" "%u" "-i"
TryExec=namcap
