[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-pkgbuild;
Actions=mk_aur
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Pkg-tools

[Desktop Action mk_aur]
Name=Make aurball
Icon=run-build-file
Exec=pkg-magic "-A"
