[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-xz-pkg;
Actions=install_local;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Pacman

[Desktop Action install_local]
Name=Install selected package(s)
Icon=run-build-install
Exec=/home/funtux/bin/pkg-magic "-p" "%U" "-U"
