[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-xz-pkg;
Actions=dep;revdep;nodup;_SEPARATOR_;dep_sync;revdep_sync;nodup_sync;_SEPARATOR_;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Pkg-tools

# Usage: pkg-magic $uri $action $args $opts

[Desktop Action dep]
Name=Generate dependency graph
Icon=office-chart-polar
Exec=pkg-magic "%u" "-t" "-g" "png"

[Desktop Action revdep]
Name=Generate reverse dependency graph
Icon=office-chart-polar-stacked
Exec=pkg-magic "%u" "-t" "-gr" "png"

[Desktop Action nodup]
Name=Generate dependency with no duplicates graph
Icon=office-chart-polar
Exec=pkg-magic "%u" "-t" "-glu" "png"

[Desktop Action dep_sync]
Name=Generate dependency graph (sync DBs)
Icon=office-chart-polar
Exec=pkg-magic "%u" "-t" "-gs" "png"

[Desktop Action revdep_sync]
Name=Generate reverse dependency graph (sync DBs)
Icon=office-chart-polar-stacked
Exec=pkg-magic "%u" "-t" "-grs" "png"

[Desktop Action nodup_sync]
Name=Generate dependency with no duplicates graph (sync DBs)
Icon=office-chart-polar
Exec=pkg-magic "%u" "-t" "-glus" "png"
