[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-xz-pkg;
Actions=dep;revdep;nodup;_SEPARATOR_;dep_sync;revdep_sync;nodup_sync;_SEPARATOR_;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Pkg-tools

[Desktop Action dep]
Name=Dependency graph
Icon=office-chart-polar
Exec=pkg-magic "-t" "%u" -- "-g"

[Desktop Action revdep]
Name=Dependency graph reverse
Icon=office-chart-polar-stacked
Exec=pkg-magic "-t" "%u" -- "-gr"

[Desktop Action nodup]
Name=Dependency graph no duplicates
Icon=office-chart-area-focus-peak-node
Exec=pkg-magic "-t" "%u" -- "-glu"

[Desktop Action dep_sync]
Name=Dependency graph (sync DBs)
Icon=office-chart-polar
Exec=pkg-magic "-t" "%u" -- "-gs"

[Desktop Action revdep_sync]
Name=Dependency graph reverse (sync DBs)
Icon=office-chart-polar-stacked
Exec=pkg-magic "-t" "%u" -- "-grs"

[Desktop Action nodup_sync]
Name=Dependency graph no duplicates (sync DBs)
Icon=office-chart-area-focus-peak-node
Exec=pkg-magic "-t" "%u" -- "-glus"
