[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=sync_local;_SEPARATOR_;sync;_SEPARATOR_;update;_SEPARATOR_;optimize;_SEPARATOR_;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Pkg-tools

# Usage: pkg-magic $uri $action $args $opts

[Desktop Action sync]
Name=Sync repos
Icon=object-rotate-left
Exec=pkg-magic "%u" "-y" "-Syy"

[Desktop Action sync_local]
Name=Sync local repos
Icon=object-rotate-right
Exec=pkg-magic "%u" "-y" "-Sy"

[Desktop Action update]
Name=Update metadata files
Icon=system-software-update
Exec=pkg-magic "%u" "-f" "-uz" "xz"

[Desktop Action optimize]
Name=Optimize db
Icon=system-run
Exec=pkg-magic "%u" "-o"