[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory;
Actions=search;update;_SEPARATOR_;query;_SEPARATOR_;search_aur;_SEPARATOR_;sync_local;sync;_SEPARATOR_;optimize;_SEPARATOR_;configure;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Pkg-tools

# Usage: pkg-magic $uri $action $args $opts

[Desktop Action search]
Name=Search for packages containing the provided target
Icon=edit-find-project
Exec=pkg-magic "%u" "-f" "-s"

[Desktop Action update]
Name=Update the stored metadata files
Icon=svn-update
Exec=pkg-magic "%u" "-f" "-u"

[Desktop Action query]
Name=Query
Icon=system-search
Exec=pkg-magic "%u" "-y" "-Q"

[Desktop Action search_aur]
Name=Search AUR
Icon=edit-find
Exec=pkg-magic "%u" "-y" "-Ss"

# [Desktop Action query_provides]
# Name=Search for provides
# Icon=edit-find-project
# Exec=pkg-magic "%u" "-y" "-Q" "--provides"
#
# [Desktop Action query_depends]
# Name=Search for depends
# Icon=edit-find-project
# Exec=pkg-magic "%u" "-y" "-Q" "--depends"

# [Desktop Action query_conflicts]
# Name=Search for conflicts
# Icon=edit-find-project
# Exec=pkg-magic "%u" "-y" "-Q" "--conflicts"

# [Desktop Action query_replaces]
# Name=Search for replaces
# Icon=edit-find-project
# Exec=pkg-magic "%u" "-y" "-Q" "--replaces"

[Desktop Action sync_local]
Name=Sync local pacman DBs
Icon=svn-update
Exec=pkg-magic "%u" "-y" "-Sy"

[Desktop Action sync]
Name=Sync pacman DBs
Icon=svn-update
Exec=pkg-magic "%u" "-y" "-Syy"

[Desktop Action optimize]
Name=Optimize pacman db
Icon=system-run
Exec=pkg-magic "%u" "-o"

[Desktop Action configure]
Name=Configure AUR login
Icon=tools-wizard
Exec=pkg-magic "%u" "-c"

