[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/x-xz-pkg;
Actions=add;_SEPARATOR_;remove;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
X-KDE-Submenu=Repo

[Desktop Action add]
Name=Add selected (db)
Icon=list-add
Exec=pkg-magic "-a" "%U"

[Desktop Action remove]
Name=Remove selected (db)
Icon=list-remove
Exec=pkg-magic "-r" "%U"
